



<div>
    <h3>RadzenControlTest</h3>
    <br />
    <RadzenButton Name="rTextBoxFlip" Text="Flip Visible!" Click=@OnButtonClick />
    <hr />
    <RadzenButton Name="rTextBoxSet" Text="Set Text!" Click=@SetText />
    <hr />
    <RadzenTextBox Name="rTextBox" Visible=@visible @bind-Value=@text />
</div>