<div>
    <h3 style="align-content:center">Settings</h3>
    <br />
    <div class="row"><div class="col-6">PartyStatusCodeCountLimit</div><div class="col-6"><RadzenLabel Name="PartyStatusCodeCountLimit" Text=@PartyStatusCodeCountLimit /></div></div>
    <div class="row"><div class="col-6">ProcessTimeEntries</div><div class="col-6"><RadzenLabel Name="ProcessTimeEntries" Text=@ProcessTimeEntries /></div></div>
    <div class="row"><div class="col-6">ProcessImages</div><div class="col-6"><RadzenLabel Name="ProcessImages" Text=@ProcessImages /></div></div>
    <div class="row"><div class="col-6">RelatedPartyCountLimit</div><div class="col-6"><RadzenLabel Name="RelatedPartyCountLimit" Text=@RelatedPartyCountLimit /></div></div>
    <div class="row"><div class="col-6">MatterDateLimit</div><div class="col-6"><RadzenLabel Name="MatterDateLimit" Text=@MatterDateLimit /></div></div>
    <div class="row"><div class="col-6">TimeEntryBeginDate</div><div class="col-6"><RadzenLabel Name="TimeEntryBeginDate" Text=@TimeEntryBeginDate /></div></div>
</div>
